<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos al Cine</title>

</head>
<body>
    <div class="video-background">
        <video autoplay muted loop id="backgroundVideo">
            <source src="cinevideo.mp4" type="video/mp4">
            <!-- Asegúrate de que el archivo de video esté en la misma carpeta que el HTML o ajusta la ruta -->
            Tu navegador no soporta video en HTML5.
        </video>
    </div>

    <div class="overlay-content">
        <h1 class="ml12">Bienvenidos a Cinema</h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <button onclick="window.location.href='index.html'">Entrar</button>
    </div>


</body>
</html>
