body{
  background-image: url('wallpaper.jpg'); /* Cambia esta ruta a la imagen que desees */
  background-size: cover; /* La imagen cubrirá todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  margin: 0;
  padding-left: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

 /* Estilo para el contenido */
 .overlay-content {
  text-align: center;
  color: white; /* Color del texto */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el contenedor */
}

.overlay-content button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f1c40f;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.overlay-content button:hover {
  background-color: #e1b707;
}
