/* Asegúrate de que el fondo ocupe toda la pantalla */
.movie-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding-left: 40px;
  box-sizing: border-box;
  overflow-y: auto;
  backdrop-filter: blur(5px); /* Añade un efecto de desenfoque en el fondo */
}

/* Estilos del título */
.movie-details h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 020px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Sombra para mejor visibilidad */
}

/* Imagen del póster */
.movie-details img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(230, 127, 31);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  margin: 20px 0;
}

/* Estilos de la descripción */
.movie-details p {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  margin: 10px 0;
}

.movie-details p strong {
  color: #ffcc00; /* Color para destacar los títulos */
}

/* Efectos de entrada en el detalle */
.movie-details {
  animation: fadeIn 0.5s ease-in-out;
}

/* Animación para entrada gradual */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 600px) {
  .movie-details h2 {
      font-size: 2em;
  }

  .movie-details img {
      width: 200px;
  }

  .movie-details p {
      font-size: 1em;
      padding: 10px;
  }
}
