/* Asegúrate de que el fondo ocupe toda la pantalla */
.movie-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-left: 26px;
  padding-top: 0px;
   backdrop-filter: blur(5px); /* Añade un efecto de desenfoque en el fondo */
}

/* Estilos del título */
.movie-details h2 {
  font-size: 3em;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Sombra para mejor visibilidad */
}

/* Imagen del póster */
.movie-details img {
  width: 250px;
  height: auto;
  margin-top: -20px;
  border-radius: 10px;
  border: 2px solid rgb(230, 127, 31);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);

}


.thumbnail-button-container {
  display: flex; /* Usar flexbox para alinear horizontalmente */
  align-items: flex-end; /* Alinear los elementos en la parte inferior */
}

.thumbnail-container {
  display: flex;
  flex-direction: row; /* Apilar miniaturas horizontalmente */
  gap: 7px; /* Espacio entre miniaturas */
  margin-right: 0px; /* Espacio entre miniaturas y botón */
  margin-top: 30px;
  animation: marquee 30s linear infinite; /* Duración de la animación */
  animation-play-state: paused;

}

.thumbnail-container:hover {
  animation-play-state: running; /* Pausa la animación cuando el ratón está encima */
}

@keyframes slide {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  45% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  70% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  95% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}


@keyframes marquee {
  100% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Estilos de la descripción */
.movie-details p {
  font-size: 1.1em;
  max-width: 300px;
  padding: 0px;
  border-radius: 8px;
  margin: 5px 0;
}

.movie-details p strong {
  color: #ffcc00; /* Color para destacar los títulos */
}

/* Efectos de entrada en el detalle */
.movie-details {
  animation: fadeIn 0.5s ease-in-out;
}


.thumbnail img {
  width: 80px; /* Ajusta el ancho según sea necesario */
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.thumbnail img:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
}

.button-container {
  display: flex; /* Alinear el contenido en el contenedor */
  align-items: flex-end; /* Alinear el botón en la parte inferior */
  gap: 7px;
  padding: 5px;
  margin-left: -13px;
}

#sinopsis {
  background-color: #e98009; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  font-size: 12px; /* Tamaño de fuente */
  width: 90px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color al pasar el ratón */
}

#comprarEntrada {
  background-color: #e98009; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  font-size: 12px; /* Tamaño de fuente */
  width: 90px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color al pasar el ratón */
}

#verTrailer{

  background-color: #e98009; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  font-size: 12px; /* Tamaño de fuente */
  width: 80px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color al pasar el ratón */

}

#verTrailer:hover{
  background-color: #cc3939; /* Color de fondo al pasar el ratón */


}

#sinopsis:hover {
  background-color: #cc3939; /* Color de fondo al pasar el ratón */

}

#comprarEntrada:hover {
  background-color: #cc3939; /* Color de fondo al pasar el ratón */

}





