/* Fondo general para el contenedor de películas */
.movie-container {
  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  display: grid; /* Cambiado a grid */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas automáticas */
  gap: 20px; /* Espacio entre las tarjetas de películas */
  min-height: 100vh; /* Asegura que la altura mínima sea 100% de la vista */
  justify-items: center; /* Centra cada elemento dentro de la celda de la cuadrícula */
}

.movie-card {
  background-color: #38b6e7bb; /* Fondo blanco para las tarjetas */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Esconde el desbordamiento */
  text-align: center; /* Centra el texto */
  transition: transform 0.2s; /* Suaviza la transición al pasar el mouse */
  padding: 7px;
   font-style: bold;

}

.movie-card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
}

.movie-card img {
  width: auto; /* Mantiene la relación de aspecto de la imagen */
  height: 100; /* Altura fija para las imágenes */
  max-width: 100%; /* Asegura que la imagen no sobrepase el ancho de la tarjeta */
  border: 2px solid #ffffff; /* Añade un borde inferior */
  border-radius: 8px;
  box-shadow: 2px 10px 6px rgba(0, 0, 0, 0.9);

}

.movie-card h2 {
  padding: 1px; /* Ajusta el padding */
  font-size: 1em; /* Tamaño del texto del título */
  color: #f9f9ff; /* Color del texto del título */
}
