/* Fondo general para el contenedor de películas */
.movie-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  display: grid; /* Cambiado a grid */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas automáticas */
  gap: 20px; /* Espacio entre las tarjetas de películas */
  min-height: 100vh; /* Asegura que la altura mínima sea 100% de la vista */
  justify-items: center; /* Centra cada elemento dentro de la celda de la cuadrícula */
}

.movie-card {
  position: relative; /* Para posicionar el contenedor del título */
  overflow: visible; /* Esconde el desbordamiento */
  transition: transform 0.3s; /* Suaviza la transición al pasar el mouse */
}

.movie-card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
}

.movie-card img {
  width: auto; /* Mantiene la relación de aspecto de la imagen */
  height: 100%; /* Altura fija para las imágenes */
  max-width: 100%; /* Asegura que la imagen no sobrepase el ancho de la tarjeta */
  border: 2px solid #ffffff; /* Añade un borde inferior */
  border-radius: 8px;
  box-shadow: 2px 10px 6px rgba(0, 0, 0, 0.9);
}

/* Estilos para el contenedor del título */
.title-container {
  position: absolute; /* Posiciona el contenedor del título */
  bottom: 0; /* Alinea al fondo */
  left: 0;
  right: 0; /* Se extiende a todo el ancho */
  background-color: rgba(50, 50, 50, 0.7); /* Fondo gris transparente */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.3s ease; /* Suaviza la transición de opacidad */
}

/* Muestra el título al pasar el ratón */
.movie-card:hover .title-container {
  opacity: 1; /* Muestra el título */
}

h2{
  font-size: 15px;
  text-align: start;
  padding-left: 6px;
}
