<header *ngIf="isMovieDetailsPage()">
  <div class="icon-container">
    <i class="fa-solid fa-ticket" id="icono"></i>
  </div>
  <nav>
    <a routerLink="/">
      <i class="fas fa-home"></i> Inicio
    </a>
    <hr class="divider">
    <a routerLink="/movieList">
      <i class="fas fa-film"></i> Cartelera
    </a>
    <hr class="divider">
    <a routerLink="/store"> <!-- Cambié el link a /store para ser más claro -->
      <i class="fas fa-shopping-cart"></i> Tienda
    </a>
    <hr class="divider">
    <a routerLink="/">
      <i class="fas fa-envelope"></i> Contacto
    </a>
    <hr class="divider">
    <a routerLink="/login"> <!-- Cambié el link a /login para ser más claro -->
      <i class="fas fa-sign-in-alt"></i> Login
    </a>
  </nav>
</header>
<router-outlet></router-outlet>

<footer>
  <p>© 2024 Mi Aplicación de Películas</p>
</footer>
